<div>
<form method="post" action="/game">
  <label for="name">Enter your pet's name: </label>
  <input class="form-control" name="name" id="name">
  <button class="btn">Start Game!</button>
</form>
</div>